/*if JS not found */
.nojs h1{
    color: #c53833;
}
/* FONTS */
h1{
    font-family: "Young Serif", serif;
    font-size: 7.594em;
}
h2{
    font-family: "Young Serif", serif;
    font-size: 5.063em;
}
h3{
    font-family: "Roboto Slab", serif;
    font-size: 3.305em;
}
p, input{
    font-family: "Lato", arial;
    font-size: 2.25em;
}
/*Mobile (defaults)*/
    body {
        background-color:#282828 ;
        color: #f2f2f2;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
/*Desktop*/
@media screen and (min-width: 760px){
    
}
/* Tablet */
@media screen and (min-width: 760px) and (max-width: 1023px){
    
}
