/*if JS not found */
.nojs h1{
    color: #c53833;
}
/* FONTS */
h1{
    font-family: "Young Serif", serif;
    font-size: 7.594em;
}
h2{
    font-family: "Young Serif", serif;
    font-size: 4.063em;
}
h3{
    font-family: "Roboto Slab", serif;
    font-size: 2.305em;
}
p, input{
    font-family: "Lato", arial;
    font-size: 2.20em;
}
/*Mobile (defaults)*/
    body {
        background-color:#282828 ;
        color: #f2f2f2;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Login Page*/
    .login section{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .login .main{
        display: flex;
        align-items: stretch;
        height: 100vh;
        background-image: url(../images/bkg-bookshelf.png);
        background-position-x: 100vw;
    }
    .login input{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 2%;
        border: 0px;
        border-radius: 15px;
        margin-bottom: 4%;
        background-color: #171717;
        color: #A6A6A6;
    }
    .login #mainSection{
        width: 50%;
        background-color: #282828;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    }
    .login #background section{
        display: none;
    }
    .login #background{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        display: none;
        margin: 0px 40px;
    }
    #submit input{
        background-color: #0F71F2;
        color:#f2f2f2;
        cursor: pointer;
        padding: 20px 5vw;
        border-radius: 20px;
    }
    #submit input:hover{
        background-color: #58D5AC; 
    }
/*Desktop*/
@media screen and (min-width: 760px){
    /* Login Page*/
    .login section{
        display: none;
    }
    .login #background section{
        display: contents;
    }
    .login input{
        
    }
    .login #container{
        margin: 0 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login #background{
        display: flex;
    }
    .login .logo{
        margin-bottom: 22%;
        margin-top: 5%;
    }
}
/* Tablet */
@media screen and (min-width: 760px) and (max-width: 1023px){
    /* Login Page*/
    .login #background section{
        display: none;
    }
    .login #mainSection section{
        display: contents;
    }
    .login #background{
        display: flex;
    }
}
