/*if JS not found */
.nojs h1{
    color: #c53833;
}
/*Mobile (defaults)---------------------------------------------------------------------------------------------------------------*/
    body {
        background-color:#282828 ;
        color: #f2f2f2;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* FONTS */
    h1{
        font-family: "Young Serif", serif;
        font-size: 11vw;
        text-align: center;
    }
    h2{
        font-family: "Young Serif", serif;
        font-size: 9vw;
    }
    h3{
        font-family: "Roboto Slab", serif;
        font-size: 5vw;
    }
    p, input{
        font-family: "Lato", arial;
        font-size: 4.2vw;
    }
    /*Menu*/
    header li a{
        font-family: "Lato", arial;
        color: #f2f2f2;
        text-decoration: none; 
        padding: 1vw;
        margin: 0px 2vw;
    }
    header li a:hover{
        color: #0F71F2;
    }
    #main-navbar ul{
        display: flex;
    }
    #main-navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1% 7%;
        box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.75);
        background-color: #333333;
        justify-content: center;
    }

    /* Login Page-----------------------------------*/
    .login .logo{
        margin-bottom: 8%;
        margin-top: 10%;
    }
    .login section{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .login .main{
        display: flex;
        align-items: stretch;
        height: 100vh;
        background-image: url(../images/bkg-bookshelf.png);
        background-position-x: 100vw;
    }
    .login input{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 2%;
        border: 0px;
        border-radius: 15px;
        margin-bottom: 4%;
        background-color: #171717;
        color: #A6A6A6;
    }
    .login #mainSection{
        width: 100%;
        background-color: #282828;
    }
    .login #background section{
        display: none;
    }
    .login #background{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        display: none;
        margin: 0px 40px;
    }
    #submit input{
        background-color: #0F71F2;
        color:#f2f2f2;
        cursor: pointer;
        padding: 20px 5vw;
        border-radius: 20px;
        margin-top: 10%;
    }
    #submit input:hover{
        background-color: #58D5AC; 
    }
    .login form{
        margin-top: 6vw;
        padding: 0px 10%;
    }
    /* Store Page-----------------------------------*/
    .store .list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 3%;
    }
   .book{
        margin: 5% 5%;
    }
    .book img{
        box-shadow: 0px 0px 14px 1px rgba(0,0,0,1);
        margin: 10px 0px;
        cursor: pointer;
    }
    .book p{
        margin: 15px 0px;
    }
    .store h1{
        padding-top: 50px;
    }
    .topicDark{
        background-color: #1D1D1D;
    }

/*Desktop ---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 760px){
    h1{
        font-size: 4.100em;
    }
    h2{
        font-size: 4.063em;
    }
    h3{
        font-size: 2.305em;
    }
    p, input{
        font-size: 2.20em;
    }
    header li{
        font-size: 1.25em;
    }
    #main-navbar ul{
        margin-left: 3vw;
    }
    #main-navbar{
        justify-content: flex-start;
    }
    /* Login Page -----------------------------------*/
    .login section{
        display: none;
    }
    .login #background section{
        display: contents;
    }
    #submit input{
        margin-top: 20%;
    }
    .login #container{
        margin: 0 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login #background{
        display: flex;
    }
    .login .logo{
        margin-bottom: 22%;
        margin-top: 5%;
    }
    .login #mainSection{
        width: 50%;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    }
    .login form{
        padding: 0px;
    }
    /* Store Page*/
    .book p{
        font-size:1.50em;
    }
    
}
/* Tablet ---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 760px) and (max-width: 1320px){
    header li a{
        padding: 0px 4.6vw;
    }
    #main-navbar{
        justify-content: space-between;
    }
    /* Login Page-----------------------------------*/
    .login #background {
        display: none;
    }
    .login #mainSection section{
        display: contents;
    }
    .login #mainSection{
        width:80%;
        margin: 0% 5%;
        flex: 1;
    }
    .login .logo{
        margin-bottom: 5vw;
        margin-top: 5%;
    }
    
}
