/*if JS not found */
.nojs h1{
    color: #c53833;
}
/*Mobile (defaults)---------------------------------------------------------------------------------------------------------------*/
    body {
        background-color:#282828 ;
        color: #f2f2f2;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* FONTS */
    h1{
        font-family: "Young Serif", serif;
        font-size: 11vw;
        text-align: center;
    }
    h2{
        font-family: "Young Serif", serif;
        font-size: 9vw;
    }
    h3{
        font-family: "Roboto Slab", serif;
        font-size: 5vw;
        word-wrap: break-word;
    }
    p, input{
        font-family: "Lato", arial;
        font-size: 4.2vw;
    }
    a:link {
    color: #62b3ff;
    }
    #content a:visited {
    color: #195FC9;
    }
    /*Menu*/
    header li a{
        font-family: "Lato", arial;
        color: #f2f2f2;
        text-decoration: none; 
        padding: 1vw;
        margin: 0px 2vw;
    }
    header li a:hover{
        color: #0F71F2;
    }
    #main-navbar ul{
        display: flex;
    }
    #main-navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.7% 7%;
        box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.75);
        background-color: #333333;
        justify-content: center;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    .sticky + #content {
        padding-top: 9.9vh;
    }
    /*Footer*/
    #main-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 15px;
        background-color: #161616;
        box-shadow: inset 0px 133px 16px -127px rgba(0,0,0,0.75);
    }
    #main-footer p{
        margin-bottom: 15px;
        margin-top: 20px;
        font-size: 3.2vw;
    }

    /* Login Page-----------------------------------*/
    .login .logo{
        margin-bottom: 8%;
        margin-top: 10%;
    }
    .login section{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .login .main{
        display: flex;
        align-items: stretch;
        height: 100vh;
        background-image: url(../images/bkg-bookshelf.png);
        background-position-x: 100vw;
    }
    .login input{
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 2%;
        border: 0px;
        border-radius: 15px;
        margin-bottom: 4%;
        background-color: #171717;
        color: #A6A6A6;
    }
    .login #mainSection{
        width: 100%;
        background-color: #282828;
    }
    .login #background section{
        display: none;
    }
    .login #background{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        display: none;
        margin: 0px 40px;
    }
    #submit input{
        background-color: #0F71F2;
        color:#f2f2f2;
        cursor: pointer;
        padding: 20px 5vw;
        border-radius: 20px;
        margin-top: 10%;
    }
    #submit input:hover{
        background-color: #58D5AC; 
    }
    .login form{
        margin-top: 6vw;
        padding: 0px 10%;
    }
    /* Store Page-----------------------------------*/
    .store .list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 3%;
    }
    
    .book {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    
    .book img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 14px 1px rgba(0,0,0,1);
        cursor: pointer;
    }
    
    .book h3, .book p {
        font-size: 1.5em;
        margin-top: 15px;
        text-align: center;
    }

    /* Additional responsive adjustments for larger screens */
    @media screen and (min-width: 760px) {
        .store .list {
            justify-content: space-between;
        }

        .book {
            width: 250px;
        }
    }

    .book p{
        margin: 15px 0px;
    }
    .store h1{
        padding-top: 50px;
    }
    .topicDark{
        background-color: #1D1D1D;
    }
    /* About Page-----------------------------------*/
    .about{
        background-color: #1D1D1D;
    }
    .about h3, #support h2{
        margin-bottom: 0.5em;
    }
    .about section{
        padding: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #onDemand img{
        visibility: visible;
        margin-top: 10%;
        width: 45vw;
        box-shadow: 0px 0px 14px 1px rgba(0,0,0,1);
    }
    #onDemand{
        background-color: #282828;
    }
    #aboutUs{
        padding: 2% 0%;
    }
    .about p{
        font-size: 2.5vw;
        line-height: 1.7em;
    }
    #toAdd{
        background-color: #2A4084;
    }
    #toAdd img{
        width: 25vw;
        margin-bottom: 5%;
    }
    #toAdd #note{
        margin-top: 5%;
    }
    #support h2{
        text-align: center;
        color: #58D5AC;
    }
    #support div{
        width: 100%;
    }
    #links {
        text-align: center;
        background-color: #58D5AC;
    }
    #links p{
        color: #ffffff;
        overflow-wrap: break-word;
    }
    #links img{
        height: 10vw;
        padding-right:2%;
        padding-left: 2%;
    }
    #links div {
        width: 100%;
    }
    #links h3 {
        color: #f2f2f2;
    }
    #links h4 {
        font-size: 25px;
        word-wrap: break-word;
    }
    .cryptoinfo {
        max-width: 400px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
/*Desktop ---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 760px){
    h1{
        font-size: 4.100em;
    }
    h2{
        font-size: 4.063em;
    }
    h3{
        font-size: 2.305em;
        word-wrap: break-word;
    }
    p, input, .about p{
        font-size: 1.25em;
    }
    header li{
        font-size: 1.25em;
    }
    #main-navbar ul{
        margin-left: 3vw;
    }
    #main-navbar{
        justify-content: flex-start;
    }
    #main-footer p{
        font-size: 1.25em;
    }
    /* Login Page -----------------------------------*/
    .login section{
        display: none;
    }
    .login #background section{
        display: contents;
    }
    #submit input{
        margin-top: 20%;
    }
    .login #container{
        margin: 0 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login #background{
        display: flex;
    }
    .login .logo{
        margin-bottom: 22%;
        margin-top: 5%;
    }
    .login #mainSection{
        width: 50%;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    }
    .login form{
        padding: 0px;
    }
    /* Store Page*/
    .book p{
        font-size:1.50em;
    }
    /* About Page-----------------------------------*/
    .about section{
        padding:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .about section div{
        padding: 6% 10%;
        width: 50%;
    }
    #aboutUs{
        padding: 2% 0;
    }
    #onDemand{
        background-image: url(../images/bookshelf.png);
        background-position-x: 100vw;
        background-size: contain;
    }
    #onDemand div{
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
        width: 50%;
        background-color: #282828;
    }
    #onDemand img{
        visibility: hidden;
        width: 0;
    }
    #toAdd, #support{
        justify-content: center;
    }
    #toAdd img{
        width: 16vw;
        margin-left: 5%;
    }
    #toAdd #note{
        margin: 5%;
        margin-top: 0;
        text-align: center;
        width: 60%;
    }
    #toAdd div{
        padding-left: 5%;
    }
    #links{
        background-color: #0f125b;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    }
    #links p{
        color: #161616;
        overflow-wrap: break-word;
    }
}
/* Tablet ---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 760px) and (max-width: 1320px){
    header li a{
        padding: 0px 4.6vw;
    }
    #main-navbar{
        justify-content: space-between;
    }
    /* Login Page-----------------------------------*/
    .login #background {
        display: none;
    }
    .login #mainSection section{
        display: contents;
    }
    .login #mainSection{
        width:80%;
        margin: 0% 5%;
        flex: 1;
    }
    .login .logo{
        margin-bottom: 5vw;
        margin-top: 5%;
    }
    /* About Page-----------------------------------*/
    
}